.body {
    margin-top: 20px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 20px;
    width: 20em;
    background-color: #FFFAD1;
}

img {
    width: 200px;
    float: right;
}

.nav-button {
    background-color:#2FC362;
    outline: none;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

h2 {
    display: inline-block;
}

label {
    display: inline-block;
}

.value {
    float: right;
    padding-right: 10px;
}

.data {
    padding-top: 10px;
}
